/*              HEADER         */

.navbar-brand{
    width: 5rem;
    height: 3rem;
}

.nav-item:hover{
    transform: scale(1.1, 1.1);
    font-weight: bold;
    transition: 0.5s;
}

.nav-link{
    background-color: #ff6b3588;
    border-radius: 10px;
    padding: 2px 4px;
}

.navbar-nav{
    gap: 1rem;
}