/*      MAIN - PAGE IMPRESION        */

.title__impresion{
    text-align: center;
    padding-bottom: 2rem;
}


.card__main{
    margin: 2rem 1rem;
    display: flex;
    justify-content:space-between;
    gap: 1rem;
}


.card__main--impresion{
    width: 55rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif, verdana;
    border-radius: 10px;
}

.card--offset{
    background-color: #2a9d9039;
}

.img__offset, 
.img_digital{
    width: 20rem;
    height: 12rem;
    background-color: transparent;
    border-radius: 10px;
}

.contenedor__superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    background-color: transparent;
}

.contenedor__superior > h2{
    padding-left: 3rem;
    font-size: 3.5rem;
    background-color: transparent;
}

.subtitulo__impresion{
    padding: 10px 0;
    background-color: transparent;
}

.impresión__conclusión{
    color: #333333;
    font-size: 2rem;
    line-height: 1.5;
    font-family: sans-serif, verdana;
    background-color: transparent;
}

.card__main--impresion p,
.impresion__ul--offset,
.impresion__ul--offset li{
    background-color: transparent;
}

.card--digital{
    background-color: #55555539;
}

.card__main--impresion p,
.impresion__ul--digital,
.impresion__ul--digital li{
    background-color: transparent;
}