#main{
    padding-top: 6rem;
    margin-bottom: 2rem;
    min-height: 100vh;
    z-index: 10;
}

/* Estilo general para los parrafos */

p{
    color: #333333;
    font-size: 1rem;
    line-height: 1.5;
    font-family: sans-serif, verdana;
}