/* ESILOS RESET CSS */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #f2f3f4;
    font-family: sans-serif, verdana;
}

#body{
    max-width: 1400px;
    height: auto;
    margin-left: 10%;
    background-color: #f2f3f4;
    
}
